# Ignorar todo
*

# Pero permitir que Git entre en las subcarpetas
!*/

# Excepciones por extensión
!*.tex
!*.bib

# Carpeta de ilustraciones completa
!Ilustraciones/
!Ilustraciones/**

# El propio .gitignore
!.gitignore